# 编译输出目录
bin/
obj/

# NuGet 包目录
packages/

# Visual Studio 临时文件
*.suo
*.user
*.sln.docstates

# 调试和发布构建结果
[Dd]ebug/
[Rr]elease/
x64/
*.pdb
*.ilk
*.cache

# Visual Studio 缓存和用户配置
.vs/
.idea/
*.userprefs